@import "tailwindcss";

body {
  background-color: #0d0d12;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
